vng_api_common_credentials_config_enable: true
vng_api_common_credentials:
  items:
    - identifier: user-id
      secret: super-secret-with-a-lot-of-characters

vng_api_common_applicaties_config_enable: true
vng_api_common_applicaties:
  items:
    - uuid: 78591bab-9a00-4887-849c-53b21a67782f
      client_ids:
        - user-id
      label: applicatie
      heeft_alle_autorisaties: true