apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "datamigratie.fullname" . }}
  labels:
    {{- include "datamigratie.labels" . | nindent 4 }}
data:
  ASPNETCORE_FORWARDEDHEADERS_ENABLED: {{ .Values.settings.aspnetcore.forwardedHeadersEnabled | toString | quote }}
  {{- if .Values.settings.aspnetcore.environment }}
  ASPNETCORE_ENVIRONMENT: {{ .Values.settings.aspnetcore.environment | toString | quote }}
  {{- end }}
  {{- if .Values.settings.aspnetcore.httpPorts }}
  ASPNETCORE_HTTP_PORTS: {{ .Values.settings.aspnetcore.httpPorts | toString | quote }}
  {{- end }}

  # API Connections
  OpenZaakApi__BaseUrl: {{ .Values.settings.apiConnections.openZaakApi.baseUrl | quote }}
  OpenZaakApi__ApiUser: {{ .Values.settings.apiConnections.openZaakApi.apiUser | quote }}
  DetApi__BaseUrl: {{ .Values.settings.apiConnections.detApi.baseUrl | quote }}

  {{- if .Values.settings.oidc.authority }}
  Oidc__Authority: {{ .Values.settings.oidc.authority }}
  Oidc__ClientId: {{ .Values.settings.oidc.clientId }}
  Oidc__FunctioneelBeheerderRole: {{ .Values.settings.oidc.functioneelBeheerderRole }}
  Oidc__NameClaimType: {{ .Values.settings.oidc.nameClaimType }}
  Oidc__RoleClaimType: {{ .Values.settings.oidc.roleClaimType }}
  Oidc__EmailClaimType: {{ .Values.settings.oidc.emailClaimType }}
  {{- end }}

  # Feature Flags
  FeatureFlags__EnableTestHelpers: {{ .Values.settings.featureFlags.enableTestHelpers | toString | quote }}
